---
import Avatar from "../Avatar.astro"
import Section from "../Section.astro"
import { SECTION_IDS } from "../Constants"

import { about, basics, languages, interests } from "@cv"
import LanguagePill from "../LanguagePill.astro"
import Pill from "../Pill.astro"
const { name, image } = basics
---

<Section title="Who am I?" sectionId={SECTION_IDS.about}>
  <div class="wrapper">
    <Avatar id="avatar" image={image} name={name} />
    <div id="about-more" class="flex flex-col gap-12 pr-4">
      {
        languages && (
          <div class="flex flex-col gap-2">
            <h2 class="text-skin-base">Languages Spoken:</h2>
            <ul class="flex flex-wrap gap-2" aria-label="Languages spoken">
              {languages &&
                languages.map(({ fluency, language, countryCode }) => {
                  return (
                    <LanguagePill
                      fluency={fluency}
                      language={language}
                      countryCode={countryCode}
                    />
                  )
                })}
            </ul>
          </div>
        )
      }
      {
        interests && (
          <div class="flex flex-col gap-2">
            <h2 class="text-skin-base">Personal Interests:</h2>
            <ul class="flex flex-wrap gap-2" aria-label="Personal Interests">
              {interests &&
                interests.map((interest) => {
                  return <Pill label={interest} />
                })}
            </ul>
          </div>
        )
      }
    </div>
    <div id="about-content" class="sm:pl-4">
      {
        about.map((para) => {
          return <p class="mb-6">{para}</p>
        })
      }
    </div>
  </div>
</Section>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 14em 1fr;
  }
  #avatar {
    grid-area: 1 / 1 / 3 / 1;
  }
  #about-more {
    grid-area: 2 / 1 / 2 / 2;
  }
  #about-content {
    grid-area: 1 / 2 / 3 / 3;
  }

  @media (max-width: 640px) {
    #avatar {
      grid-area: 1 / 1 / 2 / 5;
    }
    #about-more {
      grid-area: 4 / 1 / 5 / 5;
    }
    #about-content {
      grid-area: 2 / 1 / 4 / 5;
    }
  }
</style>
