---
import { basics } from "@cv"
import ContactBar from "./ContactBar.astro"

const { title } = Astro.props
const { name, profiles, phone, email } = basics
---

<header class="fixed flex header top-0 py-2 left-0 right-0 justify-center">
  <div
    class="flex flex-row justify-between items-baseline max-w-5xl w-full px-8"
  >
    {name && <h1>{title}.</h1>}
    <ContactBar email={email} phone={phone} profiles={profiles} name={name} />
    <slot />
  </div>
</header>

<style>
  h1 {
    @apply text-xl font-bold;
  }

  .header {
    border-bottom: 1px solid rgb(var(--color-button-muted), 0%);
    animation: header-hide 0.3s ease-out;
    display: none;
  }

  .header.show {
    display: flex;
    animation: header-show 0.3s ease-out;
    border-bottom: 1px solid rgb(var(--color-button-muted), 100%);
    background: rgba(var(--color-fill), 100%);
    z-index: 999;
  }

  @keyframes header-show {
    100% {
      border-bottom: 1px solid rgb(var(--color-button-muted), 100%);
      opacity: 1;
    }

    0% {
      border-bottom: 1px solid rgb(var(--color-button-muted), 0%);
      opacity: 0;
    }
  }

  @keyframes header-hide {
    100% {
      border-bottom: 1px solid rgb(var(--color-button-muted), 0%);
      opacity: 0;
      display: none;
    }

    0% {
      border-bottom: 1px solid rgb(var(--color-button-muted), 100%);
      opacity: 1;
      display: flex;
    }
  }
</style>
