---
import { basics } from "@cv"
import Section from "@/components/Section.astro"
import ContactBar from "./ContactBar.astro"

const { summary, name, email, phone, profiles } = basics
---

<Section>
  <div class="flex flex-col gap-4 mt-12">
    {name && <h1 class="transition duration-300 ease-in-out pb-4">{name}.</h1>}
    <div class="flex flex-col gap-1">
      <h2>{summary}</h2>
      <ContactBar email={email} phone={phone} profiles={profiles} name={name} />
    </div>
  </div>
</Section>

<style>
  h1 {
    @apply text-5xl font-bold print:text-3xl;
  }

  h2 {
    @apply text-balance text-2xl text-skin-muted print:text-lg;
  }

  img {
    @apply aspect-square w-32 rounded-2xl bg-cover;
  }

  span {
    @apply flex items-center gap-1 text-xs text-skin-hue;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      @apply md:items-center md:justify-center pr-0;
    }

    figure {
      @apply flex md:items-center md:justify-center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      @apply md:mx-auto;
    }
  }
</style>

<script>
  const select = document.getElementById("themeSwitch") as HTMLSelectElement
  const theme = localStorage.getItem("theme")
  const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light"

  if (theme !== null) {
    select.value = theme
  } else {
    select.value = systemTheme
  }

  function updateTheme(value: string) {
    const theme = value === "system" ? systemTheme : value
    document.documentElement.classList.remove("light", "dark")
    document.documentElement.classList.add(theme)
    localStorage.setItem("theme", value)
  }

  updateTheme(select.value)

  select.addEventListener("change", (event: Event) => {
    const select = event.target as HTMLSelectElement
    updateTheme(select.value)
  })

  // Deshabilitar modo oscuro al imprimir
  window.addEventListener("beforeprint", () => {
    document.documentElement.classList.remove("dark")
  })

  // Restaurar el modo oscuro después de imprimir
  window.addEventListener("afterprint", () => {
    if (
      select.value === "dark" ||
      (select.value === "system" && systemTheme === "dark")
    ) {
      document.documentElement.classList.add("dark")
    }
  })
</script>
