---
import { basics } from "@cv"
import Section from "@/components/Section.astro"
import ContactBar from "./ContactBar.astro"
import Location from "./Location.astro"

const { summary, name, email, phone, profiles, location } = basics
---

<Section>
  <div class="flex flex-col gap-4 mt-12">
    {name && <h1 class="transition duration-300 ease-in-out pb-4">{name}.</h1>}
    <div class="flex flex-col gap-1">
      <h2>{summary}</h2>
      <div class="flex sm:flex-row-reverse gap-4 flex-col sm:justify-end">
        <Location
          city={location.city}
          countryCode={location.countryCode}
          region={location.region}
          class="text-xs font-semibold mt-3"
        />
        <ContactBar
          email={email}
          phone={phone}
          profiles={profiles}
          name={name}
        />
      </div>
    </div>
  </div>
</Section>

<style>
  h1 {
    @apply text-5xl font-bold print:text-3xl;
  }

  h2 {
    @apply text-balance text-2xl text-skin-muted print:text-lg;
  }

  img {
    @apply aspect-square w-32 rounded-2xl bg-cover;
  }

  span {
    @apply flex items-center gap-1 text-xs text-skin-hue;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      @apply md:items-center md:justify-center pr-0;
    }

    figure {
      @apply flex md:items-center md:justify-center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      @apply md:mx-auto;
    }
  }
</style>
