---
import Section from "../Section.astro"
import { skills } from "@cv"

import { SECTION_IDS } from "../Constants"
import SkillIcon from "../SkillIcon.astro"

const programmingLanguages = skills.filter((skill) =>
  skill.tags.some((tag) => tag.toLowerCase() === "languages"),
)
const libraries = skills.filter((skill) =>
  skill.tags.some((tag) => tag.toLowerCase() === "libraries"),
)
const tools = skills.filter((skill) =>
  skill.tags.some((tag) => tag.toLowerCase() === "tools"),
)
---

<Section
  className={Astro.props.className}
  title="Skills"
  sectionId={SECTION_IDS.skills}
>
  <div class="flex flex-col md:flex-row gap-8 w-full">
    <div class="skills-container">
      <h3 class="border-[#F6AE2D]">Programming Languages</h3>
      <ul
        class="[&>li>svg]:text-[#F6AE2D] inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm"
      >
        {
          programmingLanguages.map(({ name }) => {
            return (
              <li class="skills">
                <SkillIcon skill={name} />
                <span>{name}</span>
              </li>
            )
          })
        }
      </ul>
    </div>
    <div class="skills-container">
      <h3 class="border-[#86BBD8]">Libraries and Frameworks</h3>
      <ul
        class="[&>li>svg]:text-[#86BBD8] inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm"
      >
        {
          libraries.map(({ name }) => {
            return (
              <li class="skills">
                <SkillIcon skill={name} />
                <span>{name}</span>
              </li>
            )
          })
        }
      </ul>
    </div>
    <div class="skills-container">
      <h3 class="border-[#758E4F]">Tools</h3>
      <ul
        class="[&>li>svg]:text-[#758E4F] inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm"
      >
        {
          tools.map(({ name }) => {
            return (
              <li class="skills">
                <SkillIcon skill={name} />
                <span>{name}</span>
              </li>
            )
          })
        }
      </ul>
    </div>
  </div>
</Section>

<style>
  .skills-container {
    @apply flex flex-col pt-0 gap-2 py-2 border-l-0 basis-0 grow;
    h3 {
      @apply text-xl font-semibold mb-4 border-l-2 pl-2;
    }
  }
  .skills {
    @apply border-solid flex items-center gap-1 rounded-md px-2 py-0.5 text-base text-skin-muted;
  }
</style>
