---
import PositionCard from "../PositionCard.astro"

interface Props {
  entry: {
    institution: string
    startDate: string
    endDate?: string
    title: string
    url?: string
    location?: { city: string; region?: string; countryCode?: string }
    location_type?: string
  }
}

const { institution, startDate, endDate, title, url, location, location_type } =
  Astro.props.entry
---

<li class="relative pt-3 pb-16 h-full">
  <div class="absolute -left-4 sm:left-1/4 top-6 bottom-20 w-px bg-skin-muted">
  </div>
  <div
    class="relative flex flex-col sm:flex-row pb-1 transition-all sm:gap-8 lg:hover:!opacity-100"
  >
    <div class="relative mt-1 text-xs sm:w-1/4">
      <PositionCard
        position={title}
        location={location}
        location_type={location_type}
        company={institution}
        url={url}
        startDate={startDate}
        endDate={endDate}
      />
    </div>
    <div class="relative flex-2 flex-col sm:w-3/4">
      <div
        class="absolute bottom-2 w-2 h-2 bg-skin-muted rounded-full -left-5 sm:-left-7"
      >
      </div>
      <div class="flex flex-col gap-4">
        <div
          class="flex relative flex-col max-sm:!h-auto gap-4 md:after:bg-gradient-to-t md:after:absolute md:after:bottom-0 md:after:w-full md:after:h-12 md:after:content-['']"
        >
          <slot />
        </div>
        <!-- <button
          @click="expanded = ! expanded"
          class="group/more w-fit cursor-pointer items-center justify-center gap-1.5 text-xs underline text-skin-muted transition-all hover:text-skin-base flex"
        >
          <span x-text="expanded ? 'Show less' : 'Show more'">Show more</span>
          <svg
            class="w-4 h-4 group-hover/more:translate-y-0.5 duration-200 ease-out"
            :class="{ 'rotate-180': expanded }"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><polyline points="6 9 12 15 18 9"></polyline></svg
          >
        </button> -->
        <slot name="footer" />
      </div>
    </div>
  </div>

  <script
    defer
    src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <style>
    li::marker {
      @apply text-skin-hue;
    }
  </style>
</li>
