---
import Layout from "@/layouts/Layout.astro"

import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Header from "@/components/sections/Header.astro"
import Hero from "@/components/sections/Hero.astro"
import Skills from "@/components/sections/Skills.astro"
import Tail from "@/components/sections/Tail.astro"

import { basics } from "@cv"
import Subheader from "@/components/sections/Subheader.astro"
import About from "@/components/sections/About.astro"
const { name, label } = basics
---

<Layout title={`${name} Portfolio - ${label}`}>
  <main class="relative flex flex-col max-w-5xl gap-6 px-8">
    <Header title={name} />
    <Hero />
    <Subheader title={name} />
    <Skills />
    <Experience />
    <Education />
    <About />
    <Tail />
  </main>
</Layout>

<style>
  @page {
    size: auto;
    margin: 0mm;
  }
  main {
    margin: auto;
    width: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
</style>

<script>
  const initNavHighlightBehaviour = () => {
    const observer = new IntersectionObserver(
      ([{ isIntersecting, target }]) => {
        const navId = "#nav-" + target.id.replace("container-", "")
        const navItem = document.querySelector(navId)
        if (!navItem) return

        if (isIntersecting) {
          navItem.classList.add("is-active")
        } else {
          navItem.classList.remove("is-active")
        }
      },
      { threshold: [0], rootMargin: "-40%" },
    )

    const sections: NodeListOf<HTMLElement> =
      document.querySelectorAll(".anchor")

    sections.forEach((element) => {
      const section = document.querySelector(`#container-${element.id}`)
      if (!section) return

      observer.observe(section)
    })
  }

  initNavHighlightBehaviour()
</script>
