---
import Duration from "./sections/Duration.astro"
import Location from "./sections/Location.astro"

interface Props {
  position: string
  location?: { city: string; region?: string; countryCode?: string }
  location_type?: string
  company: string
  url: string | undefined
  startDate: string
  endDate?: string
}

const { position, company, url, startDate, endDate, location } = Astro.props
---

<div
  class="sticky flex flex-col top-32 positionCard text-right pr-4 gap-4 pb-4"
>
  <div
    class="absolute w-3 h-3 bg-white rounded-full max-sm:-left-5 sm:-right-4 -translate-x-[0.1rem] top-1"
  >
  </div>
  <div class="flex flex-row sm:flex-col gap-1">
    <h2 class="font-semibold">{position}</h2>
    <div class="content-center">
      <span>@</span>
      {
        url ? (
          <a
            class="text-skin-hue align-bottom"
            href={url}
            title={`Ver ${company}`}
            target="_blank"
          >
            {company}
          </a>
        ) : (
          <span>{company}</span>
        )
      }
    </div>
  </div>
  <div class="flex flex-row sm:flex-col text-xs gap-1">
    <Duration startDate={startDate} endDate={endDate} />
    {
      location && (
        <Location
          city={location.city}
          region={location.region}
          countryCode={location.countryCode}
          class="location justify-end"
        />
      )
    }
  </div>
</div>

<style>
  h2 {
    @apply text-sm font-extrabold;
  }
  @media (max-width: 640px) {
    .positionCard {
      text-align: left;
    }
    .location {
      justify-content: flex-start;
    }
  }
</style>
