---
import Duration from "./sections/Duration.astro"
import Location from "./sections/Location.astro"

interface Props {
  position: string
  location?: { city: string; region?: string; countryCode?: string }
  location_type?: string
  company: string
  url: string | undefined
  startDate: string
  endDate?: string
}

const { position, company, url, startDate, endDate, location } = Astro.props
---

<div
  class="sticky flex flex-col top-32 positionCard text-left
  -mt-4
  sm:mr-2
  mb-4
  rounded-lg
  p-4 sm:gap-4 bg-white/10"
>
  <div
    class="absolute w-3 h-3 bg-white bubble-arrow rounded-full max-sm:-left-5 sm:-right-6 -translate-x-[0.1rem] top-5"
  >
  </div>
  <div
    class="sm:text-base text-xl flex xs:gap-2 flex-col sm:flex-col sm:gap-0 xs:flex-row"
  >
    <h2 class="font-semibold float-left">{position}</h2>
    <div class="content-center text-sm">
      <span>@</span>
      {
        url ? (
          <a
            class="text-skin-hue align-bottom"
            href={url}
            title={`Ver ${company}`}
            target="_blank"
          >
            {company}
          </a>
        ) : (
          <span>{company}</span>
        )
      }
    </div>
  </div>
  <div class="flex flex-col text-xs gap-4">
    <Duration startDate={startDate} endDate={endDate} />
    {
      location && (
        <Location
          city={location.city}
          region={location.region}
          countryCode={location.countryCode}
          class="location"
        />
      )
    }
  </div>
</div>

<style>
  h2 {
    @apply font-extrabold;
  }
  .positionCard:after {
    content: "";
    position: absolute;
    right: 0;
    top: 2em;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-left-color: rgba(255, 255, 255, 10%);
    border-right: 0;
    margin-top: -0.5em;
    margin-right: -0.5em;
  }
  @media (max-width: 640px) {
    .positionCard:after {
      content: "";
      position: absolute;
      left: 0;
      top: 2em;
      width: 0;
      height: 0;
      border: 0.5em solid transparent;
      border-right-color: rgba(255, 255, 255, 10%);
      border-left: 0;
      margin-top: -0.5em;
      margin-left: -0.5em;
    }
  }
</style>
