---
import type { HTMLAttributes } from "astro/types"
import PositionCard from "./PositionCard.astro"

interface Props extends HTMLAttributes<"li"> {
  entry: {
    institution: string
    startDate: string
    endDate?: string
    title: string
    url?: string
    location?: { city: string; region?: string; countryCode?: string }
    location_type?: string
  }
}

const { class: className, entry, ...rest } = Astro.props
const { institution, startDate, endDate, title, url, location, location_type } =
  entry
---

<li class:list={["relative pt-3 pb-16 h-full", className]} {...rest}>
  <div class="absolute -left-4 md:left-1/4 top-5 bottom-20 w-px bg-skin-muted">
  </div>
  <div
    class="relative flex flex-col md:flex-row pb-1 transition-all md:gap-8 lg:hover:!opacity-100"
  >
    <div class="relative mt-1 text-xs md:w-1/4">
      <PositionCard
        position={title}
        location={location}
        location_type={location_type}
        company={institution}
        url={url}
        startDate={startDate}
        endDate={endDate}
      />
    </div>
    <div class="relative flex-2 flex-col md:w-3/4">
      <div
        class="absolute bottom-2 w-2 h-2 bg-skin-muted rounded-full -left-5 md:-left-7"
      >
      </div>
      <div class="flex flex-col gap-4">
        <div
          class="flex relative flex-col max-sm:!h-auto gap-6 md:after:bg-gradient-to-t md:after:absolute md:after:bottom-0 md:after:w-full md:after:h-12 md:after:content-['']"
        >
          <slot />
        </div>
        <slot name="footer" />
      </div>
    </div>
  </div>

  <style>
    li::marker {
      @apply text-skin-hue;
    }
  </style>
</li>
