---
import { basics } from "@cv"
import Vengeance from "@/layouts/Vengeance.astro"

interface Props {
  title: string
}

const { title } = Astro.props

const { image, summary, url, theme } = basics
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preload" as="image" href={image} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/themes/themes.css" />
  </head>
  <body data-theme={theme} class="relative bg-skin-fill">
    <div class="absolute top-0 -z-10 h-full w-full">
      <div
        class="absolute bottom-auto left-[20%] right-auto top-0 h-[200px] w-[200px] -translate-x-[30%] translate-y-[20%] rounded-full blur-[80px] invert-0 bg-white/5"
      >
      </div>
    </div>
    <slot />
    <style is:global>
      body,
      figure {
        margin: 0;
        padding: 0;
        font-family:
          "Roboto",
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.08) 90%
        );
        background-size: 100% 5em;
        background-repeat: no-repeat;
        color: rgba(var(--color-text-base), 100%);
      }

      a {
        color: rgba(var(--color), 100%);
        text-decoration: none;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: large;
        line-height: 1.7;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      h1,
      h2,
      h3,
      h4 {
        @apply text-skin-base;
        margin: 0;
      }

      p {
        @apply text-base text-skin-muted;
        line-height: 1.7;
        text-wrap: pretty;
        font-size: large;
      }

      .print {
        display: none !important;
      }

      .dev * {
        @apply border border-red-500/50 bg-red-500/5;
      }
      #hotkeypad [data-backdrop] {
        @apply !bg-zinc-800 !opacity-80;
      }
    </style>
  </body>
</html>
